WEBHOOK_BEARER_SECRET=replace_me
FCM_TOKEN_SYNC_BEARER=replace_me
FIREBASE_PROJECT_ID=ontacoche
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@ontacoche.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nREPLACE_ME\n-----END PRIVATE KEY-----\n"
FCM_TOKEN_COLLECTION=fcm_tokens
DEFAULT_DEVICE_ID=009590067804
LOG_LEVEL=info
