WEBHOOK_BEARER_SECRET=replace_me
FIREBASE_PROJECT_ID=ontacoche
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@ontacoche.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nREPLACE_ME\n-----END PRIVATE KEY-----\n"
FCM_TOKEN_COLLECTION=fcm_tokens
LOG_LEVEL=info
